
// Color Cube
$White: #ffffff;
$RiverBed: #46525f;
$Pelorous: #39afbb;
$FrenchGray: #bcbcbd;
$Firefly: #081425;
$Contessa: #bd7a69;
$Thunderbird: #cc201f;


// Media cut
$Gallery: #f1efef;
$Mako: #41474f;
$Pelorous2: #449ebf;
$Raven: #7c858f;
$Cascade: #88acab;

// Material deign
$pelorousVibrant: #3ba5bd;
$PineConeMuted: #655850;
$FireflyDarkVibrant: #0f1d2d;
$LimedSpruceDarkMuted: #3d4954;
$ContessaLightVibrant: #c46e5f;

